div {
    position: relative;
    text-align: center;
    font-family: sans-serif;
}

#banner{
    background-image: url(banner-background.png);
    color: white;
}

legend {
    text-align: left;
}

fieldset{
    width: 320px;
    padding: 10px;
    margin: 0;
    margin: auto; 
}




