div {
    position: relative;
    text-align: center;
    font-family: sans-serif;
}

#banner{
    background-image: url(banner-background.png);
    color: white;
}

legend {
    text-align: left;
}

fieldset{
    width: 320px;
    padding: 10px;
    margin: 0;
    margin: auto; 
}

/*Following style enables "zebra style" table*/
tr:nth-child(even){
    background-color: lightgray;
}

td {
    text-align: center;
}

/*Following style gives body a background color and width*/
#content {
    position: absolute;
    left: 10%;
    width: 80%;
    background-color: #DAD9D4;
}

/*Following style ensures border collapse for table*/
table {
    width: 100%;
    border-collapse: collapse;
}




